.card-img-top{
    width: 200px;
    height: 200px;
}
.dots{
    display: flex;
    margin: auto;
}
.dots span{
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
}
.dots span:first-child{
    background: #d38a38;
}
.dots span:last-child{
    background: #f748a8;
}
.dots span:nth-child(2){
    background: #f748a8;
    
}
/* #d38a38,#f748a8,#f748a8 */