
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root{
  --btn-bg:#fb2e86;
  --text-color:#151875; 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul{
  list-style-type: none;
}

/* for spinner */
.spinner-border{
  margin-left: 50%;
}
h1,h2,h3,h4,h5,.price{
  color: var(--text-color) !important;
  font-family: 'Josefin Sans', sans-serif !important;
}

.carousel-control-prev,
.carousel-control-next{
  display: none !important;
}